@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');   
/* LAYOUT */
.page{
    height: 97vh;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 180px 4fr;
    gap:10px;
    margin:10px;    
}

.sidebar{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: repeat(7, 70px) 1fr repeat(3,70px);
    align-items: center;
}
.company{
    justify-content: center;
    font-size: 1.8rem;
}

.header{
    /* to place the images to the right hand side */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 38px;
    gap:15px;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    
}
.sHeader{
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    /* to place the images to the right hand side */
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 120px;

}


.main{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: auto;
    gap: 10px;
}

.projects{
    grid-row: 1 / 3;
    overflow: auto;
}


/* STYLING */
:root{
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    background-color:white;
    --bg-color:#d1d5db;
}


.sidebar{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color:var(--bg-color);
}
.sidebar img{
    height: 32px;
    margin-left: 15%; 
    width: auto;
}
.sidebar div{
    display: flex;
    align-items: center;
    gap:10px;
}
span{
    font-weight:900;
}

.dashboard, .sidebar > div:hover{
    background-color: black;
    color:white;
    box-sizing: border-box;
    padding-top:15px;
    padding-bottom:15px;
    margin-right:40px;
    margin-left:40px;
    text-align: left;
    transition: 300ms;
    
    border-radius: 10px;
}

.dashboard > img, .reverseColor{
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}


.header img{
    height:35px;
}
.header > div + img{
    height:25px;
    box-sizing: border-box;
}
.header input{
    border-radius: 8px;
    width: max(100px,100%);
    margin-left:50px;
    appearance: none;
    background-color: var(--bg-color);
    border:0px;
    height:25px;
    outline: none;
    border:2px solid grey;
}
.header input:hover , .header input:active{
    outline:3px solid grey;
}
img[alt="notification"]:hover,
img[alt="mode"]:hover,
img[alt="pfp"]:hover{
    height:38px;
}
img[alt="github"]:hover{
    height:38px;
    transform: rotate(360deg);
    transition: all 500ms;
}

.sHeader{
    align-items: center;
}
.sHeader img{
    height: 110px;
    justify-self:end;
    margin-left:80px;
}
.sHeader ul{
    list-style-type:none
}
.sHeader li:nth-child(1){
    font-weight: 400;
}
.sHeader li:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
}
.sHeader li:nth-child(3){
    font-weight: bold;
    font-size:1.2rem;
}
.sHeader button{
    align-self:center;
    justify-self: center;
    width:80%;
    height:40%;
    border: 1px solid white;
    border-radius: 12px;
    background-color: var(--bg-color);
}
.sHeader button:hover{
    background-color:black;
    color: white;
    border: 1px solid black;
    height:50%;
    font-size: 110%;
    transition: 300ms;
}



.your-projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 300px;
    gap:20px;
}
 h1{
    margin-left:20px;
    grid-column: span auto;

} 
.your-projects > div{
    box-sizing: border-box;
    background-color:var(--bg-color);
    border-radius: 15px;
    border:2px solid black;
    height: 300px;
    margin-left:10px;
    margin-right:10px;
} 
.sub-heading img{
    height:40px;
}

/* layout for project boxes */
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6{
    display: grid;
    grid-template-rows: 80px 1fr;

}
.sub-heading{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap:15px;
    margin-left:10px;
    margin-left:20px;
}
.information{
    margin-left:20px;
    margin-right:20px;
}
.sub-footer{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow:column;
    grid-auto-columns: 38px;
    align-items:center;
    margin:10px;
}


/* styling for project boxes */
.proj-name{
    font-size: 1.5rem;
    font-weight: bold;

}
.proj-access{
    border:1px solid black;
    justify-self: start;
    padding:6px;
    border-radius: 20px;
    font-size: 0.8rem;
    line-height: 0.6;
    margin:-4px;
}
.language{
    margin-left:-15px;
    margin-top: 3px;
}
.fork,
.star{
    height:35px;
}
.fork:hover,
.star:hover{
    height:38px;
}

/* layout and styling for "Explore Reporistories" */
.explore-repositories{
    background-color: var(--bg-color);
    border-radius: 15px;
    overflow: auto;
    border: 2px solid black;
}
.repo{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px;
    padding: 10px;
    padding-bottom: 0px;
    padding-left:20px;
    align-items: center;
}
#descrip{
    grid-column: 1 / 3;
}

.repositories img,
.repositories img:hover{
    height: 30px;
    border-radius: 50%;
}
.repo-footer{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-auto-flow: column;
    align-items: center;
}
hr{
    width: 90%;
}
h2{
    margin-left: 25px;
}

/* styling and layout for "Chats" */
.chats{
    display: grid;
    gap:20px;
    background-color: var(--bg-color);
    padding:10px;
    border: 2px solid black;
    border-radius: 15px;
    overflow:auto;
}
.chats img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.chats > div{
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
}
.chats > div > div > div:nth-child(1){
    font-size: 1.1rem;
    font-weight: bold;
}
.chats > div > div > div:nth-child(2){
    font-size: 0.9rem;
}
